/* === Modal Base CSS === */
/* ====================== */
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Nunito');

/* ==== Main div ==== */
/* ================== */

#hummingtree {
  color: black;
  overflow: hidden;
  position: absolute;
  top: 15%; right: 0;
  left: 0; bottom: 0;
  margin: 0 auto;
  height: 575px;
  width: 340px;
  transform-origin: bottom;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
 }
 
 /* ==== Overlay div ==== */
 /* ===================== */

.hummingtree-overlay {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  opacity: .02;
  width: 100%;
  height: 100%;
  -webkit-transition: 1ms opacity ease;
  -moz-transition: 1ms opacity ease;
  -ms-transition: 1ms opacity ease;
  -o-transition: 1ms opacity ease;
  transition: 0.9s opacity ease;
  background: rgba(0,0,0,.6);
}

/* ==== Modal div ==== */
/* =================== */

.hummingtree-modal {
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  padding: 24px 20px;
  -webkit-transition: 100ms opacity ease;
  -moz-transition: 100ms opacity ease;
  -ms-transition: 100ms opacity ease;
  -o-transition: 100ms opacity ease;
  transition: 0.9s opacity ease;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #fff;
}

.hummingtree-modal.hummingtree-open.hummingtree-anchored {
  top: 20px;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.hummingtree-modal.hummingtree-open {
  background-color: rgba(255,255,255,0.7);
}

.hummingtree-overlay.hummingtree-open {
  background-color: rgba(255,255,255,0.7);
}

/* Default Animation */

.hummingtree-overlay.hummingtree-fade-and-drop {
  display: block;
  background-color: rgba(255,255,255,0.7);
}

.hummingtree-modal.hummingtree-fade-and-drop {
  top: -300%;
  background-color: rgba(255,255,255,0.7);
  display: block;
}

.hummingtree-modal.hummingtree-fade-and-drop.hummingtree-open {
  top: 50%;
  -webkit-transition: 0.9s top 0.9s ease;
  -moz-transition: 0.9s top 0.9s ease;
  -ms-transition: 0.9s top 0.9s ease;
  -o-transition: 0.9s top 0.9s ease;
  transition: 0.9s top 0.9s ease;
}

.hummingtree-modal.hummingtree-fade-and-drop.hummingtree-open.hummingtree-anchored {
  -webkit-transition: 0.9s top 0.9s ease;
  -moz-transition: 0.9s top 0.9s ease;
  -ms-transition: 0.9s top 0.9s ease;
  -o-transition: 0.9s top 0.9s ease;
  transition: 0.9s top 0.9s ease;
}

.hummingtree-overlay.hummingtree-fade-and-drop.hummingtree-open {
  top: 0;
  -webkit-transition: 0.9s opacity ease;
  -moz-transition: 0.9s opacity ease;
  -ms-transition: 0.9s opacity ease;
  -o-transition: 0.9s opacity ease;
  transition: 0.9s opacity ease;
  background-color: rgba(255,255,255,.9);
}

.hummingtree-modal.hummingtree-fade-and-drop {
  -webkit-transition: 0.9s top ease;
  -moz-transition: 0.9s top ease;
  -ms-transition: 0.9s top ease;
  -o-transition: 0.9s top ease;
  transition: 0.9s top ease;
}

.hummingtree-overlay.hummingtree-fade-and-drop {
  -webkit-transition: 0.9s opacity 0.9s ease;
  -moz-transition: 0.9s opacity 0.9s ease;
  -ms-transition: 0.9s opacity 0.9s ease;
  -o-transition: 0.9s opacity 0.9s ease;
  transition: 0.9s opacity 0.9s ease;
}

/* ====   Logo   ==== */
/* ================== */
 
.hummingtree-logo {
  background: url('https://storage.googleapis.com/ads_images_hummingtree/treewithwordmark_300dpi.png');
  background-size: 40% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 18%;
 }
 
/*.hummingtree-logo:hover {
  background-size: 41% auto;
 }*/

/* ==== Slider ==== */
/* ================ */

.hummingtree-slider {
  overflow-y: none;
  position: absolute;
  padding: 5%;
  bottom: 0;
  height: 45%;
  width: 100%;
  text-align: center;
  transition: 0.3s;  -webkit-transition: -webkit-transform .3s ease;
  -moz-transition: -moz-transform .3s ease;
  -ms-transition: -ms-transform .3s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #FFFFFF;
  opacity: 0.80;
}

.hummingtree-slider h2 {
  font-family: 'Nunito', sans-serif;
  color: black;
  text-align: center;
}

.hummingtree-slider a:link {
  text-decoration: none;
  margin-top: 10%;
}

.hummingtree-slider p {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 12pt;
  font-kerning: 0.4pt;
  margin-bottom: 15%;
  text-align: center;
}

.hummingtree-slider.hummingtree-closed {
  border-top: solid 5px #404040;
  box-shadow: inset 0px 2px 2px -3px rgba(50, 50, 50, 0.75);
  transition: 0.3s;
  transition-timing-function: ease-out;
  margin-bottom: 20%;
  transform: translate(0, 90%);
  -webkit-transform: translate(0, 90%);
  -moz-transform: translate(0, 90%);
  -ms-transform: translate(0, 90%);
}

.hummingtree-slider.hummingtree-opened {
  overflow-y: scroll;
  border-top: solid 5px #404040;
  box-shadow: 0px 2px 2px -3px rgba(50, 50, 50, 0.75);
  opacity: 0.85;
}

.hummingtree-hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .3s, opacity .3s linear;
 }

/* ===== Cross/Close Icon ===== */
/* ============================ */

.hummingtree-close {
  position: absolute;
  left: 4%;
  top: 2%;
  opacity: 0.7;
}

.hummingtree-close:hover {
  opacity: 1;
  height: 25.2px;
  width: 17px;
}

.hummingtree-close:before, .hummingtree-close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 25px;
  width: 1.7px;
  background-color: #404040;
}

.hummingtree-close:before {
  transform: rotate(45deg);
}

.hummingtree-close:after {
  transform: rotate(-45deg);
}

/* ===== Arrow Caret Icon ===== */
/* ============================ */

.hummingtree-caret-down {
  position: absolute;
  left: 41%;
  top: 4%;
  cursor: pointer;
}

.hummingtree-caret-down:before {
  content: '';
  position: absolute;
  top: 25%;
  left: 10px;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 13px solid #404040;
}

.hummingtree-caret-down:after {
  content: '';
  position: absolute;
  top: 25%;
  left: 11.99px;
  
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-top: 11px solid #FFFFFF;
}

.hummingtree-caret-up {
  position: absolute;
  left: 44%;
  top: 3%;
  cursor: pointer;
}

.hummingtree-caret-up:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 13px solid #404040;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
}

.hummingtree-caret-up:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 2.3px;
  
  border-bottom: 11px solid #FFFFFF;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
}

/* ===== Button ===== */
/* ================== */

.hummingtree-btn {
  border: none;
  overflow: hidden;
  margin: 1rem;
  padding: 0;
  width: 150px;
  height: 40px;
  padding: 10px 20px;
  bottom: -10%;
  -moz-border-radius: 8;
  font-family: 'Didact Gothic', sans-serif;
  color: #ffffff;
  font-size: 15pt;
  text-transform: uppercase;
  background: #404040;
}

.hummingtree-btn:hover {
  background: #404040;
  text-decoration: none !important;
}

/* ==== Responsive Breakpoints  ==== */
/* ================================= */

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #hummingtree {
      top: 8%;
      height: 90%;
      width: 80%;
    }
    
    .hummingtree-modal {
      height: 100%;
      
    }
    
    .hummingtree-slider h2 {
      padding-top: 0;
      font-size: 45pt;
    }

    .hummingtree-slider a:link {
      text-decoration: none;
      margin-top: 10%;
    }

    .hummingtree-slider p {
      font-family: 'Didact Gothic', sans-serif;
      font-size: 28pt;
      font-kerning: 0.4pt;
      margin-bottom: 5%;
      padding-bottom: 10%;
    }
    
    .hummingtree-btn {
      font-size: 30pt; 
      padding: 15px 25px;
      bottom: -10%;
      margin-bottom: 0;
    }
    
    .hummingtree-caret-up {
      left: 48%;
    }
    
    .hummingtree-caret-down {
      left: 48%;
    }
}


/* ----------- Phones ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* ----------- Tablets ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    #hummingtree {
      top: 10%;
      height: 80%;
      width: 75%;
    }
    
    .hummingtree-slider.hummingtree-closed {
      margin-bottom: 15%;
    }
    
    .hummingtree-slider h2 {
      padding: 3%;
      font-size: 40pt;
    }
    
    .hummingtree-slider.hummingtree-opened h2 {
      padding: 5%;
      font-size: 40pt;
    }

    .hummingtree-slider a:link {
      text-decoration: none;
      margin-top: 15%;
    }

    .hummingtree-slider p {
      font-size: 38pt;
      margin-bottom: 30%;
    }
    
    .hummingtree-logo {
      height: 15%;
      bottom: 15%;
    }
    
    .hummingtree-btn {
      font-size: 25pt; 
      /*bottom: 2%;*/
    }
    
    .hummingtree-caret-up {
      left: 48%;
    }
    
    .hummingtree-caret-down {
      left: 48%;
    }
}

