#hummingtree {
    display: inline-block;
    vertical-align: top;
    position: fixed;
    justify-content: left;
    font-size: 14px;
    color: #000;
    cursor: pointer
}

#hummingtree #hum-wrapper {
    height: 1200px;
    width: 650px;
    padding: 10px;
    background-color: #000;
    color: #fff;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSl1A8CQjL_5iefUfYZpxPDXsxHc8DIIcoNq93w7kavMVVWOkFHXA);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden
}

#hum-wrapper::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: .35;
    z-index: 1
}

#hum-wrapper h2 {
    width: 80%;
    padding: 10%;
    display: block;
    position: absolute;
    top: 10%;
    left: 0;
    color: #fff;
    line-height: 70px;
    text-align: left;
    margin: 0;
    z-index: 9
}

#hum-wrapper p {
    width: 75%;
    padding-left: 10%;
    position: absolute;
    top: 30%;
    left: 0;
    color: #fff;
    text-decoration: none
}

#hum-wrapper a {
    text-decoration: none
}
